@selfpentest:registry=http://localhost:4873/
## Avoid installing packages published in last 3 days.
min-release-age=3

## Don't install packages from git urls.
allow-git=none

## Disable git entirely (false is a POSIX command that always fails).
git=false

## Disable installing dependencies from remote URLs.
allow-remote=none

## Pin allowed scripts to exact versions of dependencies to prevent unexpected script execution.
allow-scripts-pin=true

## Protect the runtime of calls to "npm run" scripts.
script-shell=./lavamoat/.runner.cjs
