@selfpentest:registry=http://localhost:4873/
## Avoid installing packages published in last 3 days.
min-release-age=3

## Don't install packages from git urls.
allow-git=none

## Disable installing dependencies from remote URLs.
allow-remote=none

## Pin allowed scripts to exact versions of dependencies to prevent unexpected script execution.
allow-scripts-pin=true
